<main id="main">
  <div class="hero">
    <section class="hero-content">
      <div class="text-center py-5">
        <h1 class="display-2 mb-3">
          <span class="text-outline text-white">
            Sagar Tamang
          </span> 
          <br>
          <span class="text-ai-2 text-white display-6">
            Contact
          </span></h1>
        <p class="lead text-white text-outline">
          <a href="mailto:cs22bcagn033@kazirangauniversity.in">cs22bcagn033@kazirangauniversity.in</a>
          <br>
          <a href="mail:sagar.bdr0000@gmail.com">sagar.bdr0000@gmail.com</a>
        </p>
        <div>
          <button class="btn btn-primary me-2" hx-get="/contact.html" hx-target="#main">Contact</button>
          <!-- <a href="https://github.com/SAGAR-TAMANG/therapist-ai" target="_blank"> -->
            <button class="btn btn-outline-primary" hx-get="/index-htmx.html" hx-target="#main">
              Home <i class="fa-solid fa-arrow-up-right-from-square"></i>
            </button>
          <!-- </a> -->
        </div>
      </div>
    </section>
  </div>
</main>