  <main id="main">
    <div class="hero">
      <section class="hero-content">
        <div class="text-center py-5">
          <h1 class="display-2 mb-3">
            <span class="text-outline text-white">
              Sagar Tamang
            </span> 
            <br>
            <span class="text-ai-2 text-white display-6">
              Software Engineer
            </span></h1>
          <p class="lead text-white text-outline">proficient in artificial intellgience,<br>django full-stack and research.</p>
          <div>
            <button class="btn btn-primary me-2" hx-get="/contact.html" hx-target="#main" hx-indicator="#loader">Contact</button>
            <!-- <a href="https://github.com/SAGAR-TAMANG/therapist-ai" target="_blank"> -->
              <button class="btn btn-outline-primary" hx-get="/projects.html" hx-target="#main" hx-indicator="#loader">
                Projects <i class="fa-solid fa-arrow-up-right-from-square"></i>
              </button>
            <!-- </a> -->
          </div>
          <span class="htmx-indicator" id="loader">
            <img src="./img/loading3.gif" alt="loading..." height="50px">
          </span>
        </div>
      </section>
    </div>
  </main>