<main id="main">
  <div class="hero">
    <section class="hero-content">
      <div class="text-center py-5">
        <h1 class="display-2 mb-3">
          <span class="text-outline text-white">
            Sagar Tamang
          </span> 
          <br>
          <span class="text-ai-2 text-white display-6">
            Projects
          </span></h1>
        <p class="lead text-white text-outline">proficient in artificial intellgience,<br>django full-stack and research.</p>
        <div>
          <button class="btn btn-primary me-2" hx-get="/contact.html" hx-target="#main" hx-indicator="#loader">Contact</button>
          <!-- <a href="https://github.com/SAGAR-TAMANG/therapist-ai" target="_blank"> -->
            <button class="btn btn-outline-primary" hx-get="/index-htmx.html" hx-target="#main" hx-indicator="#loader">
              Home <i class="fa-solid fa-arrow-up-right-from-square"></i>
            </button>
          <!-- </a> -->
        </div>
        <span class="htmx-indicator" id="loader">
          <img src="./img/loading3.gif" alt="loading..." height="50px">
        </span>
      </div>
      <img src="./img/mouse-scroll-dark.png" alt="" width="50px" class="scroll-mouse">
    </section>
  </div>

  <div class="container text-white">
    <div class="row">
      <!-- grid element -->
      <div class="col-12 col-md-5 d-flex justify-content align-items-center mt-5">
        <img src="/img/projects/mockup-wearit.webp" alt="" width="100%">
      </div>
      <div class="col-12 col-md-7 d-flex justify-content-center align-items-center">
        <div class="fs-5">
          <a href="https://wearit.feynmanpi.com/" target="_blank" class="fw-bold fs-4">
            Wearit! | Fashion E-commerce
          </a>
          <br>
          Wearit! is a fashion e-commerce website built using Django Python Tech Stack.
          <br>
          <span class="fw-bold">Date:</span> December, 2024
        </div>
      </div>

      <!-- grid element -->
      <div class="col-12 col-md-5 d-flex justify-content align-items-center mt-5">
        <img src="/img/projects/mockup-glimmirx-media.webp" alt="" width="100%">
      </div>
      <div class="col-12 col-md-7 d-flex justify-content-center align-items-center">
        <div class="fs-5">
          <a href="https://rydervon.github.io/glimmirx-media/" target="_blank" class="fw-bold fs-4">
            Glimmirx Media | Marketing Agency
          </a>
          <br>
          Landing page for a marketing agency based in Nagaland, India.
          <br>
          <span class="fw-bold">Date:</span> September, 2024
        </div>
      </div>
      
      <!-- grid element -->
      <div class="col-12 col-md-5 d-flex justify-content align-items-center mt-5">
        <img src="/img/projects/mockup-therapist.webp" alt="" width="100%">
      </div>
      <div class="col-12 col-md-7 d-flex justify-content-center align-items-center">
        <div class="fs-5">
          <a href="https://therapy.feynmanpi.com/" target="_blank" class="fw-bold fs-4">
            AI Therapist
          </a>
          <br>
          Your personal AI-powered mental health support,
          available 24/7.
          <br>
          <span class="fw-bold">Date:</span> June, 2024
        </div>
      </div>
      
      <!-- grid element -->
      <div class="col-12 col-md-5 d-flex justify-content align-items-center mt-5">
        <img src="/img/projects/mockup-rjrojgaar.webp" alt="" width="100%">
      </div>
      <div class="col-12 col-md-7 d-flex justify-content-center align-items-center">
        <div class="fs-5">
          <a href="https://rjrojgaar.com/" target="_blank" class="fw-bold fs-4">
            RJ Rojgaar App
          </a>
          <br>
          Built for a customer in India, RJ Rojgaar is a job portal app that connects job seekers with employers. 
          <br>
          <span class="fw-bold">Date:</span> June, 2024
        </div>
      </div>
      
      <!-- grid element -->
      <div class="col-12 col-md-5 d-flex justify-content align-items-center mt-5">
        <img src="/img/projects/mockup-bharatgpt.webp" alt="" width="100%">
      </div>
      <div class="col-12 col-md-7 d-flex justify-content-center align-items-center">
        <div class="fs-5">
          <a href="https://bharatgpt.feynmanpi.com/" target="_blank" class="fw-bold fs-4">
            BharatGPT
          </a>
          <br>
          BharatGPT is a ChatGPT clone that uses Gemini API built using Django Python Tech Stack.
          <br>
          <span class="fw-bold">Date:</span> May, 2024
        </div>
      </div>
      
      <!-- grid element -->
      <div class="col-12 col-md-5 d-flex justify-content align-items-center mt-5">
        <img src="/img/projects/mockup-ssb.webp" alt="" width="100%">
      </div>
      <div class="col-12 col-md-7 d-flex justify-content-center align-items-center">
        <div class="fs-5">
          <a href="https://ssb.feynmanpi.com/" target="_blank" class="fw-bold fs-4">
            SSB Feynman Pi
          </a>
          <br>
          AI powered Service Selection Board (SSB) preparation software - Feynman Pi.
          <br>
          <span class="fw-bold">Date:</span> Apr, 2024
        </div>
      </div>
      
      <!-- grid element -->
      <div class="col-12 col-md-5 d-flex justify-content align-items-center mt-5">
        <img src="/img/projects/mockup-thegreathimalayas.webp" alt="" width="100%">
      </div>
      <div class="col-12 col-md-7 d-flex justify-content-center align-items-center">
        <div class="fs-5">
          <a href="https://thegreathimalayas.sagartamang.com/" target="_blank" class="fw-bold fs-4">
            Nepal: The Great Himalayas
          </a>
          <br>
          Great Himalayas of Nepal, parallax 3D website brought to you by Sagar Tamang.
          <br>
          <span class="fw-bold">Date:</span> Mar, 2024
        </div>
      </div>
      
      <!-- grid element -->
      <div class="col-12 col-md-5 d-flex justify-content align-items-center mt-5">
        <img src="/img/projects/mockup-basab-nath.webp" alt="laptop mockup of academi website" width="100%">
      </div>
      <div class="col-12 col-md-7 d-flex justify-content-center align-items-center">
        <div class="fs-5">
          <a href="https://github.com/SAGAR-TAMANG/Basab-Nath-Academic-Website" target="_blank" class="fw-bold fs-4">
            Basab Nath - Academic Website
          </a>
          <br>
          A simple HTML, CSS JS Website for an academic like Dr. Basab Nath.
          <br>
          <span class="fw-bold">Date:</span> Feb, 2024
        </div>
      </div>
      
      <!-- grid element -->
      <div class="col-12 col-md-5 d-flex justify-content align-items-center mt-5">
        <img src="/img/projects/pi-logo-mockup.webp" alt="laptop mockup of academi website" width="100%">
      </div>
      <div class="col-12 col-md-7 d-flex justify-content-center align-items-center">
        <div class="fs-5">
          <a href="https://github.com/SAGAR-TAMANG/english-hindi-nmt-translation" target="_blank" class="fw-bold fs-4">
            A Comparative Study of Model Variations: English-Nepali Language Pair
          </a>
          <br>
          Repository for the research paper titled: "A Comparative Study of Model Variations: English-Nepali Language Pair"
          <br>
          <span class="fw-bold">Date:</span> Feb, 2024
        </div>
      </div>
      
      <!-- grid element -->
      <div class="col-12 col-md-5 d-flex justify-content align-items-center mt-5">
        <img src="/img/projects/mockup-rebranded.webp" alt="laptop mockup with pi logo in the screen." width="100%">
      </div>
      <div class="col-12 col-md-7 d-flex justify-content-center align-items-center">
        <div class="fs-5">
          <a href="https://github.com/SAGAR-TAMANG/website-rebranded-successscholar" target="_blank" class="fw-bold fs-4">
            Success Scholar Rebranded
          </a>
          <br>
          A simple HTML, CSS JS Website for a consultancy firm like Success Scholar.
          <br>
          <span class="fw-bold">Date:</span> Dec, 2023
        </div>
      </div>
      
      <!-- grid element -->
      <div class="col-12 col-md-5 d-flex justify-content align-items-center mt-5">
        <img src="/img/projects/mockup-vr.webp" alt="laptop mockup with pi logo in the screen." width="100%">
      </div>
      <div class="col-12 col-md-7 d-flex justify-content-center align-items-center">
        <div class="fs-5">
          <a href="https://github.com/SAGAR-TAMANG/vr-product-showcase-website" target="_blank" class="fw-bold fs-4">
            VR Product Showcase Website
          </a>
          <br>
          A simple HTML, CSS JS virtual reality (VR) product showcase website.
          <br>
          <span class="fw-bold">Date:</span> Oct, 2023
        </div>
      </div>
      
      <!-- grid element -->
      <div class="col-12 col-md-5 d-flex justify-content align-items-center mt-5">
        <img src="/img/projects/pi-logo-mockup.webp" alt="laptop mockup with pi logo in the screen." width="100%">
      </div>
      <div class="col-12 col-md-7 d-flex justify-content-center align-items-center">
        <div class="fs-5">
          <a href="https://github.com/SAGAR-TAMANG/ats-resume-checker-tester-django" target="_blank" class="fw-bold fs-4">
            ATS Resume Checker Tester
          </a>
          <br>
          A simple Django web application to test the ATS score of the resume using 7 criterias.
          <br>
          <span class="fw-bold">Date:</span> Sept, 2023
        </div>
      </div>
      
      <!-- grid element -->
      <div class="col-12 col-md-5 d-flex justify-content align-items-center mt-5">
        <img src="/img/projects/pi-logo-mockup.webp" alt="laptop mockup with pi logo in the screen." width="100%">
      </div>
      <div class="col-12 col-md-7 d-flex justify-content-center align-items-center">
        <div class="fs-5">
          <a href="https://github.com/SAGAR-TAMANG/data-analysis-jobs" target="_blank" class="fw-bold fs-4">
            Data Analysis of the web scrapped data of naukri.com, iimjobs.com, and monster.com/foundit.com 
          </a>
          <br>
          After scraping the data from naukri.com, iimjobs.com, and monster.com/foundit.com, the data was analyzed and visualized using Python libraries.
          <br>
          <span class="fw-bold">Date:</span> July, 2023
        </div>
      </div>
      
      <!-- grid element -->
      <div class="col-12 col-md-5 d-flex justify-content align-items-center mt-5">
        <img src="/img/projects/pi-logo-mockup.webp" alt="laptop mockup with pi logo in the screen." width="100%">
      </div>
      <div class="col-12 col-md-7 d-flex justify-content-center align-items-center">
        <div class="fs-5">
          <a href="https://github.com/SAGAR-TAMANG/web-scraping-timesjobs" target="_blank" class="fw-bold fs-4">
            Web Scraping timesjobs.com 
          </a>
          <br>
          Web scraping of timesjobs.com using Python libraries such as Beautiful Soup 4.
          <br>
          <span class="fw-bold">Date:</span> June, 2023
        </div>
      </div>
      
      <!-- grid element -->
      <div class="col-12 col-md-5 d-flex justify-content align-items-center mt-5">
        <img src="/img/projects/pi-logo-mockup.webp" alt="laptop mockup with pi logo in the screen." width="100%">
      </div>
      <div class="col-12 col-md-7 d-flex justify-content-center align-items-center">
        <div class="fs-5">
          <a href="https://github.com/SAGAR-TAMANG/web-scraping-iimjobs" target="_blank" class="fw-bold fs-4">
            Web Scraping iimjobs.com 
          </a>
          <br>
          Web scraping of iimjobs.com using Python libraries such as Beautiful Soup 4.
          <br>
          <span class="fw-bold">Date:</span> June, 2023
        </div>
      </div>
      
      <!-- grid element -->
      <div class="col-12 col-md-5 d-flex justify-content align-items-center mt-5">
        <img src="/img/projects/pi-logo-mockup.webp" alt="laptop mockup with pi logo in the screen." width="100%">
      </div>
      <div class="col-12 col-md-7 d-flex justify-content-center align-items-center">
        <div class="fs-5">
          <a href="https://github.com/SAGAR-TAMANG/web-scraping-naukri" target="_blank" class="fw-bold fs-4">
            Web Scraping naukri.com 
          </a>
          <br>
          Web scraping of naukri.com using Python libraries such as Beautiful Soup 4.
          <br>
          <span class="fw-bold">Date:</span> June, 2023
        </div>
      </div>
      
      <!-- grid element -->
      <div class="col-12 col-md-5 d-flex justify-content align-items-center mt-5">
        <img src="/img/projects/pi-logo-mockup.webp" alt="laptop mockup with pi logo in the screen." width="100%">
      </div>
      <div class="col-12 col-md-7 d-flex justify-content-center align-items-center">
        <div class="fs-5">
          <a href="https://github.com/SAGAR-TAMANG/Scraping-Emails-LinkedIn-Comments" target="_blank" class="fw-bold fs-4">
            Web Scraping LinkedIn Comments
          </a>
          <br>
          Web scraping of LinkedIn comments using Python libraries such as Beautiful Soup 4.
          <br>
          <span class="fw-bold">Date:</span> August, 2023
        </div>
      </div>

      <!-- grid element -->
      <div class="col-12 col-md-5 d-flex justify-content align-items-center mt-5">
        <img src="/img/projects/pi-logo-mockup.webp" alt="laptop mockup with pi logo in the screen." width="100%">
      </div>
      <div class="col-12 col-md-7 d-flex justify-content-center align-items-center">
        <div class="fs-5">
          <a href="https://github.com/SAGAR-TAMANG/APSJ21G5_SENTIMENT_ANALYSIS_YOUTUBE_DATA" target="_blank" class="fw-bold fs-4">
            Sentiment Analysis of YouTube Data
          </a>
          <br>
          Final-year group project of Sentiment Analysis of YouTube Data for the class 12th Informatics Practices (IP) subject.
          <br>
          <span class="fw-bold">Date:</span> 5th of March, 2022
        </div>
      </div>
    </div>
  </div>
</main>

<script>
  gsap.to(".scroll-mouse", {
    y: 25,
    duration: 1,
    yoyo: true,
    repeat: -1,
    ease: "power1.inOut"
});
</script>