<audio id="myAudio" autoplay>
  <source src="./upa/Linkin Park One More Light Instrumental.mp3" type="audio/mpeg" autoplay>
  Your browser does not support the audio element.
</audio>

<main id="main">

  <div class="hero">
    <section class="hero-content">
      <div class="text-center py-5">
        <h1 class="display-2 mb-3 text-ai">
          <span class="text-outline text-white">
            Upasana
          </span> 
          <br>
          <span class="text-ai-2 text-white display-6">
            A message to you.
          </span></h1>
        <p class="lead text-white text-outline">
          from my heart, sould, mind, and everything...
        </p>
        <div>
          <!-- <button class="btn btn-primary me-2" hx-get="/contact.html" hx-target="#main">Contact</button> -->
          <!-- <a href="https://github.com/SAGAR-TAMANG/therapist-ai" target="_blank"> -->
            <!-- <button class="btn btn-outline-primary" hx-get="/index-htmx.html" hx-target="#main">
              Home <i class="fa-solid fa-arrow-up-right-from-square"></i>
            </button> -->
          <!-- </a> -->
        </div>
      </div>
      <img src="./img/mouse-scroll-dark.png" alt="" width="50px" class="scroll-mouse">
    </section>
  </div>

  <div class="container text-white">
    <div class="row">
      <!-- grid element -->
       <div class="col-12">
        <p class="mb-5">
          Upasana, is a girl who only knows how to be insecure. She doesn't care about anything else, the only thing she cares about is that she gets what she wants. Example, she shouts in public and doesn't understand social etiquette, making her unfit to become a girlfriend. 
          <br>
          <br>
          I have taken this huge toll to take her as my girlfriend. Though I'd consider myself lucky to have her by my side, she doesn't shy away from marking her territories. 
          <br>
          <br>
          Love is but a way to fulfill her own desires and wishes. I swore to always be by her side, but her past wounds are haunting me now. It has gotten to a level that she cannot see me talking or even texting any girl. Now, she is not even happy with me forming bonds with male friends. 
          <br>
          <br>
          All these are proof of her own inner insecurities which she should work on. Otherwise, it will lead to a self fulfilling prophecy that makes sure that all of her imaginations come true. 
          <br>
          <br>
          There is a famous book called "the secret". It talks about mind and life. It is greatly adored by many famous people. The secret for life is, according to the secret, "You will achieve what you believe you will." 
          <br>
          <br>
          That means,
          If you think you will succeed in future, then you WILL succeed in future. 
          If you think you will win the next game, then you will win the next game. 
          It also means, if you think you will fail in your exams, it means you will fail in your exams. 
          <br>
          <br>
          So, dear Upasana, it's my humble request to you, that do not let the mind wander. Always think carefully. If you think something will happen, then it will happen. 
          <br>
          <br>
          Upasana, life is too short for any kind of tireless quarrel. I consider myself a kind guy who does not like to break hearts. I will never break your heart as well, that is my plan. But if you keep this controlling behaviours then I want you to understand that my life is not only this, Upasana. I will need to cross the sagars/oceans tomorrow. I will go far away from you. I will need to interact with 100s of females. I will need them as my friend, as my business partners, as my coworkers, as my neighbours. 
          <br>
          <br>
          Life doesn't end just because I have a female companion with me.
          <br>
          <br>
          In future, you will also travel far away, meet new male friends, coworkers, or your boss. They are part of your life Upasana I can not control you to block them in Instagram and WhatsApp. 
          <br>
          <br>
          Upasana, 
          I love the food you make. 
          I love the smile in your eyes. 
          I love when you stress your brains, just like you did back in final exams (4th sem). 
          I love your caring nature, and I know you care about me. 
          I love how you bought me gifts. 
          I remember our birthday celebrations you had worked hard for. 
          <br>
          <br>
          But Upasana, nothing will work if you can not have trust in me. 
          <br>
          <br>
          If you keep this up Upasana, it's not good for you, it's not good for me. This all hard work will just end. 
          <br>
          <br>
          Neither I want this, neither you want this. 
          <br>
          <br>
          And Upasana, it's the fact that everyone is beautiful in their own way. Your ex, Anshuman may also be beautiful, but in his own way. You cannot hide under the lies. That's why you fell in love with him in the first place. Your best friend Shabriar may also be beautiful in his own way. I never criticized you that they are ugly and I am beautiful. Everyone is beautiful Upasana, just like you are. 
          <br>
          <br>
          Understanding this, you should know that my past female friends, they were also beautiful in their own way. Everyone has goods and bads. 
          <br>
          <br>
          If, even after saying this, you feel inferior to my past friends, and you need boost in your ego by listening to lies, then Upasana, hear me out: "All my past female friends were all ugly bitches and can not be compared with you."
          <br>
          <br>
          Now, I have given you the steering wheel of this boat. The boat in which both of us will sail, you are faced with a critical decision:
          Either you choose to be with you by trusting and loving me.
          Or you choose to not be with me by always showing your control towards me.
          <br>
          <br>
          I am sorry if I may have hurt your feelings, right now, today, yesterday, or any day..
          <br>
          <br>
          "I'd give you the world if I could. The moon, stars, and all the suns in the universe. Anything for you, my heart." - Stephanie Garber
          <br>
          <br>
          Sincerely,
          <br>
          Sagar Tamang
        </p>
       </div>
    </div>
  </div>
</main>

<script>
  gsap.to(".scroll-mouse", {
    y: 15,
    duration: 1,
    yoyo: true,
    repeat: -1,
    ease: "power1.inOut"
});
window.scrollTo({top: 0, behavior: 'smooth'})
</script>