<audio id="myAudio" autoplay>
  <source src="./upa/Blue Yung Kai Sped.mp3" type="audio/mpeg" autoplay loop>
  Your browser does not support the audio element.
</audio>

<main id="main">

  <div class="hero">
    <section class="hero-content">
      <div class="text-center py-5">
        <h1 class="display-2 mb-3 text-ai">
          <span class="text-outline text-white">
            Upasana
          </span> 
          <br>
          <span class="text-ai-2 text-white display-6">
            A message to you.
          </span></h1>
        <p class="lead text-white text-outline">
          from my heart, sould, mind, and everything...
        </p>
        <div>
          <!-- <button class="btn btn-primary me-2" hx-get="/contact.html" hx-target="#main">Contact</button> -->
          <!-- <a href="https://github.com/SAGAR-TAMANG/therapist-ai" target="_blank"> -->
            <!-- <button class="btn btn-outline-primary" hx-get="/index-htmx.html" hx-target="#main">
              Home <i class="fa-solid fa-arrow-up-right-from-square"></i>
            </button> -->
          <!-- </a> -->
        </div>
      </div>
      <img src="./img/mouse-scroll-dark.png" alt="" width="50px" class="scroll-mouse">
    </section>
  </div>

  <div class="container text-white">
    <div class="row">
      <!-- grid element -->
       <div class="col-12">
        <p class="mb-5">
          So, it's been a year huh?
          <br>
          <br>
          <div class="overflow-hidden" style="height: 50vh;">
            <video src="./upa/upu.mp4" width="100%" autoplay loop></video>
          </div>
          <br>
          I don't know what to say you today. It's been a pertty short year together. We partied together, we cried together, we were together in our fun times, we were together in tough times (like in exams lol). 
          <br>
          <br>
          I am just filled with graditude as I think about you.
          <br>
          <br>
          Yeah, there has been times where we have fought. Example, today itself. It occurs due to many reasons and sometimes it may be because of me. But, in today's special day, I just want to thank you for existing! 
          <br>
          <br>
          <div class="overflow-hidden" style="height: 50vh;">
            <video src="./upa/upu2.mp4" width="100%" autoplay loop></video>
          </div>
          <br>
          Baby, I wish that you continue stay healthy and lead life in dignity. You have already reached so far, and together we have already faced so many troubles. I hope we continue to excel them.
          <br>
          <br>
          I can not imagine what life would have looked without you (maybe I would've become Elon Musk lol). Jokes apart, I am proud of what calling yourself my girlfriend and I hope that you stay by my side in this difficult yet interesting journey of life.
          <br>
          <br>
          I don't know where the future holds for me or for us. However, what I do know is that you will be in it. So, my love, buckle up and let's ride this rollercoaster of life together. Once again, a happy anniversay to me and you, to us! 
          <br>
          <br>
          Btw, I asked you the questin "Do you like life fast or slow?" because the choice the background music would have been fast or slow, and you chose fast. 
          <br>
          <br>
          Sincerely,
          <br>
          Sagar Tamang
        </p>
       </div>
    </div>
  </div>
</main>

<script>
  gsap.to(".scroll-mouse", {
    y: 15,
    duration: 1,
    yoyo: true,
    repeat: -1,
    ease: "power1.inOut"
});
window.scrollTo({top: 0, behavior: 'smooth'})
</script>