<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sagar Tamang</title>
  <link rel="icon" type="image/png" href="../img/st-logo.jpg">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body class="light">
  <header id="home">
    <div class="bg-present py-2 position-fixed" style="width: 100%; z-index:1000;">
      <div class="row px-3">
        <div class="col-6">
          TAMANG GROUP
        </div>
        <div class="col-6">
          <div class="d-flex justify-content-right">
            <button class="menu-toggle fs-2 bg-inverse" id="btn-menu">☰</span>
          </div>
          <div class="d-flex justify-content-right">
            <nav id="nav" class="navbar">
              <ul type="circle">
                <li class="me-3 me-lg-5"><a href="../index.html">Home</a></li>
                <li class="me-3 me-lg-5"><a href="../about.html">About</a></li>
                <li class="me-3 me-lg-5"><a href="../project.html">Projects</a></li>
                <li class="me-3 me-lg-5"><a href="../contact.html">Contact</a></li>
                <li class="me-3 me-lg-5 py-1" type="none">
                  <label class="switch" onclick="toggleTheme()">
                    <input type="checkbox">
                    <span class="slider round"></span>
                  </label>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <div class="big-header-img-people">
      <div class="big-header">
        <p class="full-width-text-people">OUR PEOPLE</p>
      </div>
    </div>
  </header>
  <main>
    <div>
      <div class="text-center fs-5 pt-5 pb-4">
        Leadership
      </div>
      <div>
        <div id="popup-people-1" class="popup-container">
          <span class="close-button" onclick="closePopupPeople1()"><i class="fa-solid fa-xmark fa-2xl"></i></span>
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-12">
                <p>
                  <span class="fs-3 text-bold">Ashish Tamang</span><br>
                  Founder & CEO
                  <br>
                  <br>
                  Hi, 
                  <br>
                  My name is Ashish Tamang, and I am the founder & CEO of the Ashish Tamang Company. I along with my co-founder created this website for providing simple photography services.
                  
                  
                </p>
              </div>
              <div class="col-sm-6 col-12">
                <div class="overflow-hidden" style="box-sizing:border-box;">
                  <img src="../img/ashish6v2.jpg" alt="img..." style="max-width: 90%;">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="popup-people-2" class="popup-container">
          <span class="close-button" onclick="closePopupPeople2()"><i class="fa-solid fa-xmark fa-2xl"></i></span>
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-12">
                <p>
                  <span class="fs-3 text-bold">Sagar Tamang</span><br>
                  Student
                  <br>
                  <br>
                  Hello there,
                  <br>
                  I am a final-year student at the Assam Kaziranga University on Bachelors of Computer Applications.
                  <br>
                  <br>
                  I am an active student with a good academic record. I am a hard-working and dedicated person who is looking forward to working in a challenging environment and contributing to the organization which will enhance my knowledge and career. 
                  <br>
                  <br>
                  Currently, I am serving as the Vice-President of the Entrepreneurship Club at the Assam Kaziranga University. 
                  <br>
                  <br>
                  I am also a the Technical Head for the Google Developers Student Clubs The Assam Kaziranga University.
                  <br>
                  <br>
                  I have vaste knowledge in the field of Web Development, App Development, and Web Scraping (Data Science).
                </p>
              </div>
              <div class="col-sm-6 col-12">
                <div class="overflow-hidden" style="height:100%; box-sizing:border-box;">
                  <img src="../img/sagar-tmg.jpg" alt="img..." style="max-width: 90%;">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="popup-people-2" class="popup-container">
          <span class="close-button" onclick="closePopupPeople2()">X</span>
          <p>This is the new text content.</p>
        </div>
        <div class="container mb-5">
          <div class="row">
            <!-- <div class="col-12 col-md-6">
              <div class="card card-service-hover py-3 px-2 overflow-hidden m-5 w-75" id="popup-link-people-1" style="box-sizing: border-box; border-top:4px solid var(--moonstone);">
                <p class="text-bold fs-3">
                  Ashish Tamang
                </p>
                <p class="fs-0 py-2">
                  Founder, & CEO
                  <br>
                  <br>
                </p>
                <span><i class="fa-solid fa-arrow-right fa-xl"></i></span>
              </div> -->
            </div>  
            <div class="col-12 col-md-6">
              <div class="card card-service-hover py-3 px-2 overflow-hidden m-5 w-75" id="popup-link-people-2" style="box-sizing: border-box; border-top:4px solid var(--moonstone);">
                <p class="text-bold fs-3">
                  Sagar Tamang
                </p>
                <p class="fs-0 py-2">
                  Student
                  <br>
                  <br>
                </p>
                <span><i class="fa-solid fa-arrow-right fa-xl"></i></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer class="bg-inverse py-4 m-0">
    <div class="row text--md-start m-5">
      <div class="col-12 col-lg-6 my-1">
        <p class="fs-5 text-center">SAGAR TAMANG</p>
      </div>
      <div class="col-12 col-sm-4 col-lg-2">
        <span class="fs-2 text-bold">Quick Links</span>
        <br>
        <ul type="none" style="display: block; padding:0;">
          <li><a href="#" class="inverse pt-3">People & Leadership</a></li>
          <li><a href="./projects/RESUME+Sagar+Tamang django.pdf" download="Resume Sagar Tamang.pdf" class="inverse">Resume</a></li>
          <li><a href="../about.html" class="inverse">About us</a></li>
          <li><a href="./Career.html" class="inverse">Career</a></li>
          <br>
        </ul>
      </div>
      <div class="col-12 col-sm-4 col-lg-2">
        <span class="fs-2 text-bold">Social</span>
        <br>
        <ul type="none" style="display: block; padding:0;">
          <li><a href="https://www.youtube.com/@sagartamang0000" class="inverse pt-3">YouTube</a></li>
          <li><a href="https://www.linkedin.com/in/sagar-tmg/" class="inverse">LinkedIn</a></li>
          <li><a href="https://www.instagram.com/tamang_sagar0000" class="inverse">Instagram</a></li>
          <br>
        </ul>
      </div>
      <div class="col-12 col-sm-4 col-lg-2">
        <span class="fs-2 text-bold">Get in Touch</span>
        <br>
        <ul type="none" style="display: block; padding:0;">
          <li><a href="./Career.html" class="inverse pt-3">Contact Us</a></li>
          <li><a href="#" class="inverse">Our Offices</a></li>
          <br>
        </ul>
      </div>
    </div>
    <!-- <span class="divider mx-5"></div> -->
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-6 mt-3 text-center">
          <span class="">© Sagar Tamang 2024</span> 
        </div>
        <div class="col-12 col-sm-6 my-3 text-center fs-0">
          Built with <span class="fa-regular fa-heart"></span> by 
          <a href="https://www.linkedin.com/in/sagar-tmg/" class="footer-anchor" target="_blank">
            Sagar Tamang
          </a>       
        </div>
      </div>
    </div>
  </footer>

  <script src="../js/app.js" type="text/javascript"></script>
</body>
</html>